*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.headNexa{
    font-size: 70px;
    text-shadow: 4px 5px 3px #1D2024;
}
.carNexa{
   min-height: 93vh;
   display: grid;
   place-items: center;
   padding: 2rem;
   
   background-image: url(https://i.postimg.cc/L6jjvP5z/1400128763.jpg);
   background-size: cover;
   background-position: center;

   background-attachment: fixed;
   text-align: center;
   border-image: fill 1 linear-gradient(#040B13, rgba(0, 0, 0, 0.067));
   
}

.navbar{
    max-height: 130px;
    text-align: center;
    background-color: #040B13;
      opacity: 85%;
  }
.offcanvas-body{
    background-color: #040B13;
  
    
}
.offcanvas-header{
    background-color: #040B13;
 
}

.bodBack{
    background-color: #040B13;
    height: 100%;
   width: auto;
   color: white;
}
.secNexa{
    padding-top: 3rem;
    text-align: center;
}
#cart{
    color: white;
}
.card1 {
    max-width: 300px;
    border-radius: 8px;
    background-color: #1D2024;
    box-shadow: 0px 3px 3px 1px  rgba(255 , 255 , 255,0.35);
    border: 1px solid transparent;
  }
  
  .card a {
    text-decoration: none
  }
  
  .content {
    padding: 1.1rem;
    margin-top:20px ;
  }
  
  .image {
    object-fit: cover;
    width: 100%;
    height: 150px;
    background-color: #Ddd;

  }
  #img{
width: 100%;
height: auto;
  }
  .title {
    color: #fff;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
  
  }
  
  .desc {
    margin-top: 0.5rem;
    color: #fff;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .action {
    display: flex;

    color: #5889B0;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    align-items: end;
    justify-content: end;
    padding: 4px 8px;
    border-radius: 4px;

  }
  
  .action span {
    transition: .3s ease;
  }
  
  .action:hover span {
    transform: translateX(4px);
  }
  
  .cardsb{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 37px;
    margin-top: 6%;
  }
  .viewM{
    margin:6% ;
    height: 80px;
    width: 200px;
    background-color: transparent;
    border: 3px solid #5889B0;
    border-radius: 20px;
    color: white;
    font-size: 20px;
  }
  .footNexa{
    border-top: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 400px;
    padding: 5rem ;
  }
  .copyNexa{
    text-align: center;
  }