*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* .headNexa{
    font-size: 70px;
    text-shadow: 4px 5px 3px #1D2024;
} */
/* .carNexa{
   min-height: 93vh;
   display: grid;
   place-items: center;
   padding: 2rem;
   
   background-image: url(https://i.postimg.cc/L6jjvP5z/1400128763.jpg);
   background-size: cover;
   background-position: center;

   background-attachment: fixed;
   text-align: center;
   border-image: fill 1 linear-gradient(#040B13, rgba(0, 0, 0, 0.067));
   
} */

.navbar{
    max-height: 130px;
    text-align: center;
    background-color: #040B13;
      opacity: 85%;
  }
.offcanvas-body{
    background-color: #040B13;
  
    
}
.offcanvas-header{
    background-color: #040B13;
 
}

.bodBack{
    background-color: #040B13;
    height: 100%;
   width: auto;
   color: white;
}
.card{
    max-width: 500px;
}

.buy{
    padding: 10px;
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background-color: rgb(16, 114, 16);
}

.title{
    font-size: 55px;
   font-weight: 800;
}

.price{
    font-size: 26px;
    background: transparent;
    border: 0px;
    color: rgb(16, 114, 16);
    cursor: default !important;
}

.single{
    margin-top: 120px;
}

.footNexa{
    border-top: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 1rem;
  }
  .copyNexa{
    text-align: center;
  }